@font-face {
  font-family: "Min Sans";
  font-style: normal;
  font-weight: 500;
  src: local(''),
  url("../fonts/MinSans-Medium.woff2") format('woff2');
};

@font-face {
  font-family: "Min Sans";
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url("../fonts/MinSans-Regular.woff2") format('woff2');
};

@font-face {
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 500;
  src: local(''),
  url("../fonts/Unbounded-Medium.woff2") format('woff2');
};