
// шрифты
$font-family-MinSans: 'Min Sans', sans-serif;
$font-family-Unbounded: 'Unbounded', sans-serif;
// рармеры шрифтов
$h1-line-height: 60px;
$h1-font-size: 48px;
$base-font-size: 20px;
$regular-font-weight: 400;
$bold-font-weight: 500;
// цвета
$black-color: #15181C;
$white-color: #FBFBFB;
$purpul-color: #5D21D0;
$red-color: #D02121;
$green-color: #10A674;
// отступы
$margin-24: 24px;
$margin-32: 32px;
$margin-48: 48px;
$margin-88: 88px;



